* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 00px;
    font-family: sans-serif;
    background-color: #4B5257;
    height: 200vh;
}

/*navigate*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #4B5257;
    color: white;
    padding: 1vh 3vh;
    display: flex;
    align-items: center;
    z-index: 1000;
}nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/*main*/
main {
    margin-top: 10vh; /* 為了避免內容被 header 蓋住 */
    padding: 0px;
    width: 100%;
    height: 186vh;
    background-color: #D9D9D9;
}

/*mainbox*/
.mainbox {
    padding: 10vh;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: row; /* row 或 column */
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}.mainbox::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("static/saxophone%20chihuahua.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}.mainbox::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);  /* 半透明黑色 */
    z-index: -1;
}.mainbox input{
    background-color: #ffffff;
    border: none;
    border-radius: 7vh;
    width: 60%;
    height: 7vh;
    padding: 3vh;
    font-size: 1.1em;
    position: relative;
    top: -20%;
}.mainbox select {
    color: black;
    border-radius: 3vh;
    height: 6vh;
    width:7vh;
    border: none;
    position: absolute;
    top: 50%;
    left: 10%;              /* 控制在 input 左邊的位置 */
    transform: translateY(-50%);  /* 垂直置中 */
    z-index: 100;
}

/*recommend*/
.recommend {
    padding: 2.5%;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column; /* row 或 column */
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    position: relative;
    background-color: #1c1e20;
    z-index: 1;
}.recommend::before {
    content: "";
    position: absolute;
    bottom: 93vh;
    left: 0px;
    width: 100%;            /* 線長 */
    height: 7vh;            /* 線粗 */
    background-color: #D9D9D9; /* 線色 */
    border-radius: 1px;
    z-index: 2;
}.recommend button {
    border: none;
    border-radius: 1vh;
    width: 7vh;
    height: 7vh;
    right: 0%;
    top: -10vh;
    position: absolute;
    font-size: 1.3em;
    background-color: #D9D9D9;
    z-index: 2;
}.recommend h2 {
    color: white;
    top: 2%;
    left: 3%;
    position: absolute;
}
.recommend_movie {
    padding: 1vh;
    width: 100%;
    height: 65vh;
    top: 20%;
    display: flex;
    flex-direction: row; /* row 或 column */
    gap: 3vh;
    overflow-x: auto;   /* 超出時顯示垂直滾動條 */
    overflow-y: hidden;
    position: relative;
}.recommend_movie::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}.recommend_movie_movie {
    flex-direction: column;
}.recommend_movie_movie img {
    width: 35vh;
    height: 50vh;
    border-radius: 1vh;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}.recommend_movie_movie img:hover {
    transform: scale(1.05);
}.recommend_movie_movie p {
    color: white;
}