* {
    box-sizing: border-box;
}
body {
    margin: 00px;
    font-family: sans-serif;
    background-color: #4B5257;
    height: 234vh;
}

/*navigate*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #4B5257;
    color: white;
    padding: 1vh 3vh;
    display: flex;
    align-items: center;
    z-index: 1000;
}nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/*main*/
main {
    margin-top: 10vh; /* 為了避免內容被 header 蓋住 */
    padding: 0px;
    width: 100%;
    height: 220vh;
    background-color: #D9D9D9;
}

/*movie*/
.movie {
    padding: 10vh;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: row; /* row 或 column */
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}.movie::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("saxophone chihuahua.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: -1;
}.movie::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);  /* 半透明黑色 */
    z-index: -1;
}
.poster {
    width: 40vh;
    height: 55vh;
    border-radius: 1vh;
    /*box-shadow: 2px 2px 10px gray;*/
    object-fit: cover;
    flex-shrink: 0;
}
.movie_sum {
    margin: 3.5vh;
    width: 150vh;
    display: flex;
    flex-direction: column; /* row 或 column */
    justify-content: center;
    align-items: flex-start;
}.movie_sum h1 {
    width: 100%;
    position: relative;
    padding-bottom: 1vh; /* 給點空間 */
    margin-bottom: -0.3vh;  /* 與下面區塊分開 */
    color: white;
}.movie_sum h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100%);            /* 線長 */
    height: 0.3vh;            /* 線粗 */
    background-color: #808080; /* 線色 */
    border-radius: 1vh;
}
.movie_det{
    font-size: 0.8rem;
    color: rgb(182, 182, 182);
    margin-bottom: 1vh;
}
.scroll_box{
    width: 100%;       /* 固定寬度 */
    height: 20vh;      /* 固定高度 */
    overflow-y: auto;   /* 超出時顯示垂直滾動條 */
    background-color: transparent;
    margin-bottom: 1.5vh;  /* 與下面區塊分開 */
    border: none;
    color: white;
}.scroll_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}.scroll_box p {
    margin-top: 0.3em;
}
.button_horizon{
    width: 100%;
    display: flex;
    flex-direction: row; /* row 或 column */
    gap: 2%;
}
.add_list{
    border-radius: 1.5vh;
    border: 0.5vh solid #91A0A8;
    color: #91A0A8;
    width: 39%;
    height: 6vh;   
    background-color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;  /* 讓滑鼠變成「手指指標」 */
}.add_list:hover {
    border: 0.5vh solid #adbbc4;
    color: #adbbc4;
    background-color: #def1fc;
}
.buy{
    border-radius: 1vh;
    color: #FFFFFF;
    border: 0.5vh;
    width: 59%;
    height: 6vh; 
    background-color: #9ba8ae;
    font-size: 1.1rem;
    cursor: pointer;
}.buy:hover {
    background-color: #baccd5;
}

/*casts*/
.casts {
    position: relative;
    margin-left: 3%;
    width: 95%;
    padding: 1vh;
}
.casts::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;            /* 線長 */
    height: 0.3vh;            /* 線粗 */
    background-color: #999999; /* 線色 */
    border-radius: 0.5vh;
}
.casts_display {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.casts_title {
    margin: 1.5vh;
    font-weight: bold;
    font-size: 1.2rem;
}

/*screenshots*/
.screenshots{
    margin-left: 2.5%;
    width: 95%;
    padding: 1.5vh;
    position: relative
}.screenshots::after {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 0px;
    width: 100%;            /* 線長 */
    height: 0.3vh;            /* 線粗 */
    background-color: #999999; /* 線色 */
    border-radius: 0.5vh;
}.screenshots h2{
    margin-left: 1.5vh;
}
.screenshots_img{
    margin: 1vh 0px;
    display: flex;
    flex-direction: row; /* row 或 column */
    gap: 3vh;
}.screenshots_img img{
    width: 60vh;
    height: 35vh;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 3vh;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    top: 1vh;
    left: 1.5vh;
}.screenshots_img img:hover {
    transform: scale(1.05);
}

/*critics*/
.critics {
    margin-left: 2.5%;
    width: 95%;
    padding: 1vh;
    position: relative
}.critics h2{
    margin-left: 1.5vh;
}
.critics_review {
    margin: 1vh 0px;
    display: flex;
    flex-direction: row; /* row 或 column */
    gap: 3vh;
    overflow-x: auto;   /* 超出時顯示垂直滾動條 */
    overflow-y: hidden;
    height: 40vh;
}.critics_review::-webkit-scrollbar {
    height: 0.7vh;
}.critics_review::-webkit-scrollbar-thumb {
    background: #808b91;
    border-radius: 1vh;
}
.critics_user {
    padding: 3.5vh;
    display: flex;
    flex-direction: column; /* row 或 column */
    background-color: #BCC8CE;
    width: 60vh;
    height: 35vh;
    border-radius: 3vh;
    transition: transform 0.3s ease;
    position: relative;
    flex-shrink: 0;
    top: 1vh;
    left: 1.5vh;
    cursor: pointer;
}.critics_user:hover {
    transform: scale(1.05);
}.critics_user img {
    width: 7vh;
    height: 7vh;
    top:3vh;
    left:5vh;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10vh;
    position: absolute;
}.critics_user_name {
    top:3vh;
    left:13vh;
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
}.critics_user_review {
    width: 50vh;       /* 固定寬度 */
    height: 20vh;      /* 固定高度 */
    top:9vh;
    left:5vh;
    padding: 0.5vh;
    overflow-x: auto;   /* 超出時顯示垂直滾動條 */
    background-color: transparent;
    position: absolute;
}.critics_user_review::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}.critics_user_star {
    right:5vh;
    position: absolute;
}.critics_user_star::before {
    content: "★";
    right:1vh;
    font-weight: bold;
    color: orange;
    position: relative;
}