<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEM Video</title>
    <link rel="stylesheet" type="text/css" href="/static/search.css">
</head>
<body>
    <nav>
        <a href="/">SEM Video</a>
        <a href="/staff" class="staff">★</a>
    </nav>
    <main>
        <!-- 顯示搜尋結果（如果有的話） -->
        {% if results %}
            <h2>搜尋結果： 共{{ count }}筆</h2>
            <div class="search_result">
                {% for movie in results  %}
                    <a href="{{ url_for('movie_detail', movie_id=movie.movie_id) }}">{{ movie.movie_title }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>您的要求已經送到，不幸的是我們沒有能力提供符合以上條件的電影。我們會在3個工作天內拷問採購組。</p>
        {% endif %}
        </main>
</html>